
<% if @name %>
<h1>Roll the dice, <%= @name %></h1>
<p>
  <img src="/images/dice/<%= @die1 %>.svg">
  <img src="/images/dice/<%= @die2 %>.svg">
</p>
<p>
  The total is <%= @total %>
</p>
<p>
  <a href="/dice?name=<%= @name %>">Roll Again</a>
</p>
<% else %>
  <h1> Your name? </h1>

  <form action="/dice" method="GET">
    <input name="name" type="test">
    <button>Let's play</button>

  </form>
<% end %>